<html>
    <body class="body">
        <div class="panel" id="left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d677813.221099402!2d-81.20984880901602!3d35.109397289473186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scode%20inspectors!5e0!3m2!1sen!2sus!4v1667073616726!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="panel" id="right">
            <div id="yellowbox">
                <table>
                    <tr>
                      <th>Code Inspector Name</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                      <th>Level</th>
                    </tr>
                    <tr>
                      <td>Jane Doe #1</td>
                      <td>123-456-7890</td>
                      <td>email@gmail.com</td>
                      <td>1</td>
                    </tr>
                    <tr>
                        <td>Jane Doe #2</td>
                        <td>123-456-7890</td>
                        <td>email@gmail.com</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Jane Doe #3</td>
                        <td>123-456-7890</td>
                        <td>email@gmail.com</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Jane Doe #4</td>
                        <td>123-456-7890</td>
                        <td>email@gmail.com</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jane Doe #5</td>
                        <td>123-456-7890</td>
                        <td>email@gmail.com</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jane Doe #6</td>
                        <td>123-456-7890</td>
                        <td>email@gmail.com</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jane Doe #7</td>
                        <td>123-456-7890</td>
                        <td>email@gmail.com</td>
                        <td>2</td>
                    </tr>
                  </table>
            </div>
        </div>
    </body>
    <!--Testing routing to Register-->
    <!-- <button (click)="toRegister()">Register</button>-->
</html>

