<html>
    <div id="bluebox">
        <div id="yellowbox">
            <p>Thank you for submitting your request!</p>
            <br>
            <p>
                This is a confirmation that your inspection request has been submitted 
            </p>
            <p>
                for [date] scheduled for [time] with [inspector name] at [given location]
            </p>
            <br>
            <p> We will send a notification when your code inspector has responded to your request</p>
        </div>
    </div>
</html>
