<!--Header-->
<app-header></app-header>
<router-outlet></router-outlet>
<!--For demo, just delete the comment marks-->

<!--Shriya-->
<!--<app-home></app-home>-->
<!--<app-lookup-inspectors></app-lookup-inspectors>-->
<!--<app-inspectorlist></app-inspectorlist>-->
<!--<app-schedule-inspection></app-schedule-inspection>-->
<!--<app-submission-notif></app-submission-notif>-->

<!-- Valli-->
<!--<router-outlet></router-outlet>-->


<!--Eliza-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->
<!--<app-inspector-profile></app-inspector-profile>-->
<!--<app-logout-notif></app-logout-notif>-->

<!--Footer if we want-->
<div class="mt-5"></div>
<app-footer></app-footer>
