<!--Header-->
<app-header></app-header>

<!--For demo, just delete the comment marks-->

<!--Shriya-->
<!--<app-home></app-home>-->
<!--<app-lookup-inspectors></app-lookup-inspectors>-->
<!--<app-inspectorlist></app-inspectorlist>-->
<!--<app-schedule-inspection></app-schedule-inspection>-->
<!--<app-submission-notif></app-submission-notif>-->


<!--Eliza-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->
<!--<app-inspector-profile></app-inspector-profile>-->
<!--<app-logout-notif></app-logout-notif>-->

<!--Footer if we want-->