<html>
    <body class="body">
        <div class="panel" id="left">
            <h2>Welcome Code Inspectors!</h2>
            <h2><a [routerLink]="['/register']">Create an Account</a></h2>
            <h2><a [routerLink]="['/login']">Log-in</a></h2>
            <img src="/assets/images/inspection2.jpg" alt="Logo" class="secondpic">
        </div>
        <div class="panel" id="right">
            <h2>Welcome Users!</h2>
            <p>Use the top navigation to explore code inspectors in your location!</p>
            <br>
            <br>
            <br>
            <img src="/assets/images/Inspection(real).png" alt="Logo" class="firstpic">
        </div>
    </body>
    <!--Testing routing to Register-->
    <!--<nav>
        <a class="button" (click)="toRegister()">Register</a> |
      </nav>-->
</html>
