.body {
    text-align: center;
}

.body .panel {
    display: inline-block;
    background-color: #6FBADE;
    height: 400px;
    width: 550px;
    margin: 10px 10px;
}

.body #left.panel {
    position: fixed;
    right: 10px;
}

.body #right.panel {
    position: fixed;
    left: 10px;
}

img {
    width: 500px;
    height: 250px;
}

.secondpic {
    width: 550px;
    height: 130px;
}