<html>
    <!-- <div id="bluebox">
        <div>
            <h3>John Doe #1                 123-456-7890                    email@gmail.com</h3>
        </div>
        <br>
        <h3> Click on each date to see which what times are available</h3>
        <br>
        <img src="/assets/images/calendar.png" alt="Logo" class="secondpic">
        <div>

        </div>
    </div> -->
    <body class="body">
        <div class="panel" id="left">
            <div id="yellowbox">
                <form class="register-page">
                    <h4>Inspector Inspection Request</h4>
                    <!--Username-->
                    <div class="container">
                        <label>Name:</label>
                        <input type="text" name="name" class="input">
                    <br>
                    <br>
                    <!--Password-->
                        <label>Phone Number:</label>
                        <input type="text" name="phoneNumber" class="input" placeholder="123-567-7890">
                    <br>
                    <br>
                    <!--Full name-->
                        <label>Email:</label>
                        <input type="text" name="email" class="input" placeholder="test@email.com">
                    <br>
                    <br>
                    <!--Phone number-->
                        <label>Inspection Type:</label>
                        <select name="inspectionType" id="inspectionType">
                            <option value="plumbing">plumbing</option>
                            <option value="mechanical">mechanical</option>
                            <option value="electrical">electrical</option>
                        </select>
                    <br>
                    <br>
                    <!--Email-->
                        <label>Location:</label>
                        <input type="text" name="location" class="input">
                    <br>
                    <br>
                    <!--Type-->
                        <label>Time:</label>
                        <input type="text" name="time" class="input">
                
                    <br>
                    <br>
                        <label>Additional Notes:</label>
                        <input type="text" name="notes" class="input">
                    </div>
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="panel" id="right">
            <h4>John Doe #1                 123-456-7890                    email@gmail.com</h4>
            <br>
            <h4> Click on each date to see which what times are available</h4>
            <br>
            <img src="/assets/images/calendar.png" alt="Logo" class="secondpic">
        </div>
    </body>
</html>
