<html>
    <div id="bluebox" class="container">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d677813.221099402!2d-81.20984880901602!3d35.109397289473186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scode%20inspectors!5e0!3m2!1sen!2sus!4v1667073616726!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
            <h3>
                Find a code inspector within your area! Submit a request to schedule and inspection
                with the inspector that matches your needs, based on your project and time contraints, 
                and get a response ASAP!
            </h3>
        </div>
</html>
