<html>
    <body class="body">
        <h3>Welcome to the Code Inspector Portal, {{ inspector?.firstName }} {{inspector?.lastName}}</h3>
        <!--Calender-->
        <div class="panel" id="calender">
            <p>Calender</p>
        </div>
        <!--Pending requests-->
        <div class="panel" id="requests">
            <p>Pending requests</p>
        </div>
        <!--Upcoming reminders-->
        <div class="panel" id="reminders">
            <p>Upcoming reminders</p>
        </div>
    </body>
</html>
