<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<div class="alert alert-success" role="alert" *ngIf="successMessage">
  {{successMessage}}
</div>

<!-- View application modal -->
<div class="modal" id="viewApplicationModal" tabindex="-1"
     role="dialog" aria-labelledby="viewApplicationModalLabel" [ngStyle]="{'display':applicationModalDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewApplicationModalLabel">Application Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>Name: {{ selectedApplication?.name }}</p>
          </div>
          <div class="col-md-6">
            <p>{{ selectedApplication?.time | date:'short' }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Type: {{ selectedApplication?.inspectionType }}</p>
          </div>
          <div class="col-md-6">
            <p>Address: {{ selectedApplication?.address }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Phone: {{ selectedApplication?.phone }}</p>
          </div>
          <div class="col-md-6">
            <p>Email: {{ selectedApplication?.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Notes: {{ selectedApplication?.notes }}</p>
          </div>
        </div>
        <!-- Field to add a message for the applicant receiving an approval or denial -->
        <div class="row" *ngIf="!selectedApplicationIsApproved">
          <div class="col-md-12">
            <div class="form-group">
              <label for="message">Write a message to the applicant:</label>
              <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="acceptApplication(selectedApplication)" *ngIf="!selectedApplicationIsApproved">Accept</button>
        <button type="button" class="btn btn-danger" (click)="rejectApplication(selectedApplication)" *ngIf="!selectedApplicationIsApproved">Reject</button>
      </div>
    </div>
  </div>
</div>

<!-- Add event modal -->
<div class="modal" id="addEventModal" tabindex="-1"
     role="dialog" aria-labelledby="addEventModalLabel" [ngStyle]="{'display':addEventModalDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalLabel">Add Availability</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeAddEventModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="startTime">Start:</label>
              <input type="datetime-local" class="form-control" id="startTime" [value]="toDateString(addEventModalStartTime)" (change)="updateAddEventModalStartTime($event)">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="endTime">End:</label>
              <input type="datetime-local" class="form-control" id="endTime" [value]="toDateString(addEventModalEndTime)" (change)="updateAddEventModalEndTime($event)">
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeAddEventModal()">Close</button>
        <button type="button" class="btn btn-success" (click)="addEvent()"
          [disabled]="!addEventModalStartTime || !addEventModalEndTime || addEventModalStartTime >= addEventModalEndTime">Add Availability</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3>Welcome to the Code Inspector Portal, {{ inspector?.firstName }} {{inspector?.lastName}}</h3>

  <div class="row mb-4">
    <!--Calender-->
    <div class="col-md-12">
      <div class="card" id="calender">
        <div class="card-body">
          <h4 class="card-title">Calender</h4>
          <div class="card h-100">
            <div class="card-body">
              <div class="row text-center">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      Previous
                    </div>
                    <div
                      class="btn btn-outline-secondary"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                    >
                      Today
                    </div>
                    <div
                      class="btn btn-primary"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="closeOpenMonthViewDay()"
                    >
                      Next
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary"
                      (click)="setView(CalendarView.Month)"
                      [class.active]="view === CalendarView.Month"
                    >
                      Month
                    </div>
                    <div
                      class="btn btn-primary"
                      (click)="setView(CalendarView.Week)"
                      [class.active]="view === CalendarView.Week"
                    >
                      Week
                    </div>
                    <div
                      class="btn btn-primary"
                      (click)="setView(CalendarView.Day)"
                      [class.active]="view === CalendarView.Day"
                    >
                      Day
                    </div>
                    <div class="btn btn-success" (click)="openAddEventModal()">Add Availability</div>
                  </div>
                </div>
              </div>
              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                >
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="CalendarView.Week"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (hourSegmentClicked)="hourSegmentClicked($event)"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                >
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                  *ngSwitchCase="CalendarView.Day"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (hourSegmentClicked)="hourSegmentClicked($event)"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)"
                >
                </mwl-calendar-day-view>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--Pending requests-->
    <div class="col-md-6">
      <div class="card h-100" id="requests">
        <div class="card-body">
          <h4 class="card-title">Pending requests</h4>
          <p class="card-text">You have {{ inspector?.pendingApplications()?.length || 0 }} pending request(s).</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let application of inspector?.pendingApplications()">
              <!--Show a preview with the name of the applicant, the time they requested the inspection, and the type of inspection-->
              <div class="row">
                <div class="col-md-6">
                  <p>Name: {{ application?.name }}</p>
                </div>
                <div class="col-md-6">
                  <p>{{ application?.time | date:'short' }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Type: {{ application?.inspectionType }}</p>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-info" (click)="viewApplication(application)">View Details</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--Upcoming reminders-->
    <div class="col-md-6">
      <div class="card h-100" id="reminders">
        <div class="card-body">
          <h4 class="card-title">Upcoming reminders</h4>
          <p class="card-text">You have {{ inspector?.reminderApplications()?.length || 0 }} upcoming reminder(s).</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let application of inspector?.reminderApplications()">
              <!--Show a preview with the name of the applicant, the time they requested the inspection, and the type of inspection-->
              <div class="row">
                <div class="col-md-6">
                  <p>Name: {{ application?.name }}</p>
                </div>
                <div class="col-md-6">
                  <p>{{ application?.time | date:'short' }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p>Type: {{ application?.inspectionType }}</p>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-info" (click)="viewApplication(application, true)">View Details</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
