#bluebox {
    background-color: #6FBADE;
}

#yellowbox {
    background-color: #FCF3CD;
}

#bluebox #yellowbox p {
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
}

#bluebox #yellowbox a {
    text-decoration: underline;
    color: black;
}

iframe {
}

.container {
    display: flex;
    align-items: center;
}

.body .panel {
    display: inline-block;
    background-color: #6FBADE;
}

.body #left.panel {
}

.body #right.panel {
}

td, th {
    border: 1px solid black;
    text-align: center;
}
