<html>
<body class="body">
<div class="panel" id="left">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d677813.221099402!2d-81.20984880901602!3d35.109397289473186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scode%20inspectors!5e0!3m2!1sen!2sus!4v1667073616726!5m2!1sen!2sus"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br/>
<div class="panel" id="right">
  <div id="yellowbox">
    <table>
      <tr>
        <th>Code Inspector Name</th>
        <th>Trade</th>
        <th>Level</th>
        <th>City</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
      <tr *ngFor="let inspector of inspectors">
        <td>{{inspector.firstName}} {{inspector.lastName}}</td>
        <td>{{inspector.trade}}</td>
        <td>{{inspector.level}}</td>
        <td>{{inspector.city}}</td>
        <td>{{inspector.phone}}</td>
        <td>{{inspector.email}}</td>
      </tr>
    </table>
    <div *ngIf="!loading && inspectors.length === 0">
      <p>No inspectors found</p>
    </div>
    <div *ngIf="loading && inspectors.length === 0">
      <p>Loading...</p>
    </div>
  </div>
</div>
</body>
</html>

