<html>
<div class="reg-sep">
<!--Register form-->
<form class="register-page">
    <!--Username-->
    <div class="container">
        <label>Username:</label>
        <input type="text" name="username" id="username" class="input">
    <br>
    <!--Password-->
        <label>Password:</label>
        <input type="password" name="password" id="password" class="input">
    <br>
    <!--First name-->
        <label>First name:</label>
        <input type="text" name="first_name" id="first_name" class="input">
    <br>
    <!--Last name-->
        <label>Last name:</label>
        <input type="text" name="last_name" id="last_name" class="input">
    <br>
    <!--Phone number-->
        <label>Phone number:</label>
        <input type="tel" name="phone" class="input" id="phone" placeholder="123-567-7890">
    <br>
    <!--Email-->
        <label>Email:</label>
        <input type="text" name="email" class="input" id="email" placeholder="test@email.com">
    <br>
    <!--Level -> drop box-->
        <label>Level:</label>
        <select name="level" id="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    <br>
    <!--Type-->
    <label>Type:</label>
    <input type="text" name="type" id="type" class="input" placeholder="Standard/Probationary">
    <br>

    <!-- Certification Number -->
    <label>Cert. Num:</label>
    <input type="text" name="cert_num" id="certification_num" class="input">
    <br>

    <!-- CEO ID -->
    <label>CEO ID:</label>
    <input type="number" name="ceo_id" id="ceo_id" class="input">
    </div>
    <br>
    <input type="button" value="Create An Account" (click)="register()" class="submit">
</form>
<!--End of form-->
</div>
</html>
