<html>
<!--Register form-->
<form>
    <!--Username-->
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" class="input">
    </div>
    <!--Password-->
    <div class="field">
        <label>Password</label>
        <input type="text" name="password" class="input">
    </div>
    <!--Full name-->
    <div class="field">
        <label>Full Name</label>
        <input type="text" name="fullName" class="input">
    </div>
    <!--Phone number-->
    <div class="field">
        <label>Phone number</label>
        <input type="tel" name="phoneNumber" class="input" placeholder="123-567-7890">
    </div>
    <!--Email-->
    <div class="field">
        <label>Email</label>
        <input type="text" name="email" class="input" placeholder="test@email.com">
    </div>
    <!--Level -> drop box-->
    <div class="field">
        <label>Level</label>
        <select name="level" id="level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <!--Type-->
    <div class="field">
        <label>Type</label>
        <input type="text" name="type" class="input">
    </div>
    <br>
    <input type="submit" value="Create An Account">
</form>
<!--End of form-->
</html>