<html>
    <!--Login form-->
    <form>
            <div class="login-form">
                    <p>Log in to your account</p>
                    <label>Username:</label>
                    <input class="input" id="username" type="text" name="username">
                    <br>
                    <!--Password-->
                    <label>Password:</label>
                    <input class="input" id="password" type="password" name="password">
                    <br>
                    <input class="submit" value="Create an Account" type="button" (click)="goToRegister()">
                    <input class="submit" value="Log In" type="button" (click)="login()">
            </div>
    </form>
</html>
