<html>
    <!--Login form-->
    <form>
            <div class="login-form">
                    <p>Log in to your account</p>
                    <label>Username:</label>
                    <input class="input" type="text" name="username" class="input">
                    <br>
                    <!--Password-->
                    <label>Password:</label>
                    <input class="input" type="text" name="password" class="input">
                    <br>
                    <input class="submit" value="Create an Account" type="button" (click)="goToRegister()">
                    <input class="submit" type="submit" value="Log In">
            </div>
    </form>
</html>
