<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<form class="mx-auto">
  <div class="mb-3">
    <p class="text-center fw-bold">Log in to your account</p>
  </div>
  <div class="mb-3">
    <label for="username">Username</label>
    <input class="form-control" id="username" type="text" name="username">
  </div>
  <div class="mb-3">
    <label for="password">Password</label>
    <input class="form-control" id="password" type="password" name="password">
  </div>
  <div class="col-md-12 text-center">
    <button type="button" class="submit" (click)="login()">Log In</button>
  </div>
  <div class="col-md-12 text-center">
    <button type="button" class="submit" (click)="goToRegister()">Create An Account</button>
  </div>
</form>
